---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&apple_idfa_tracking_enabled=false&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=4f5627288d74c42217ca2824f5b6b567a61421eb&idfa=2E7CE4B3-F68A-44D9-A923-F4E48D92B31E&ip=109.235.143.113&locale=de&offer_types=112&os_version=6.0&page=100&pub0=pub0&timestamp=1433127600&uid=newplayer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 5cea6053eae82a8a25a6791a86bd30a544cd86d1
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - '"13e1de26c9ee359dd1efcfccf131fb1c"'
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://offer.fyber.com/mobile/support?appid=157&client=api&uid=newplayer"},"offers":[]}'
  recorded_at: Mon, 01 Jun 2015 03:00:00 GMT
recorded_with: VCR 2.9.3
