# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a8016749b5c3097a3acc4f6da9230f685a499db93f9a5327d473a35318acfe9c234d98a5661b8991ffc58e30ded4d40faf0ca7f5641719ce37bd4e2dec24aae0
  fyber:
    api_key: <%= ENV['FYBER_API_KEY'] %>
    appid: <%= ENV['FYBER_APPID'] %>
    ip: <%= ENV['FYBER_IP'] %>
    device_id: <%= ENV['FYBER_DEVICE_ID'] %>
    idfa: <%= ENV['FYBER_IDFA'] %>

test:
  secret_key_base: bad65469b7d2bb5a305cccf37077fb2b430d31e41f6d3912088cd8bcbfc34966fbf60a8ef737722d3ab92053c0c3fc6370dcf2d6fd3a21050f981148340c658f
  fyber:
    api_key: <%= ENV['FYBER_API_KEY'] %>
    appid: <%= ENV['FYBER_APPID'] %>
    ip: <%= ENV['FYBER_IP'] %>
    device_id: <%= ENV['FYBER_DEVICE_ID'] %>
    idfa: <%= ENV['FYBER_IDFA'] %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  fyber:
    api_key: <%= ENV['FYBER_API_KEY'] %>
    appid: <%= ENV['FYBER_APPID'] %>
    ip: <%= ENV['FYBER_IP'] %>
    device_id: <%= ENV['FYBER_DEVICE_ID'] %>
    idfa: <%= ENV['FYBER_IDFA'] %>
